.Hero {
    width: 100%;
    height: 100vh;
    min-height: 750px;
    background-image: url('/BG.png');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 156px;
}

.Hero .Contact-FolowingBox {
    width: 101px;
    height: 424px;
    background-image: url(/BGsotiosal.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateY(-50%);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
}

.Hero .wecchate {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 0, 13, 0.452);
    top: 0;
    left: 0;
    z-index: 4000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero .wecchateooff {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 0, 13, 0.452);
    top: 0;
    left: 0;
    z-index: 400;
    display: none;
    justify-content: center;
    align-items: center;
}

.wecchate div {
    display: flex;
    flex-direction: column;

}

.wecchate div button {
    margin-top: 20px;
    background-color: black;
    color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 40px;
}

.Hero .Contact-FolowingBox .Icons {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
    color: #fff;
}

.Hero .Contact-FolowingBox .Icons img {
    width: 40px;
}

.Hero .Contact-FolowingBox p {
    color: #fff;
    position: relative;
    width: 40%;
    height: 100%;
}

.Hero .Contact-FolowingBox p h4 {
    position: absolute;
    width: max-content;
    right: -45px;
    top: 47%;
    transform: rotate(-90deg);
}

.Hero .Title {
    display: flex;
    flex-direction: column;
}

.Hero .Title h1 {
    font-family: var(--title-font-family);
    color: var(--black);
    font-weight: 400;
    font-size: 96px;
    line-height: 47px;
    position: relative;
    width: max-content;
    z-index: 10;
    transition: .4s;
    margin-top: 40px;
    line-height: max-content;
}

.course-deatils {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 45px;
}

.course-deatils span {
    font-family: var(--text-font-family);
    font-size: 20px;
    color: var(--red);
    background-color: #FFBDC1;
    padding: 0px 32px;
    font-weight: 600;
}

.inroll-deatils {
    width: 300px;
    height: 60px;
}

.inroll-deatils a {
    height: 100%;
    display: block;
    text-decoration: none;
    color: #fff;
}

.inroll-deatils button {
    font-family: var(--text-font-family);
    width: 300px;
    background-color: var(--red);
    color: #fff;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-top: 64px;
}

.Hero .Title h1 .span1 {
    width: 340.1px;
    height: 54.16px;
    background-image: url('/UnderLine.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -40px;
    bottom: -30px;
    z-index: 9;
}

.Hero .Title h1 .span2 {
    width: 209.1px;
    height: 35.16px;
    background-image: url('/AbouveLine.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -40px;
    bottom: -26px;
    z-index: 11;
}

.Hero .Title h2 {
    font-family: var(--title-font-family);
    color: var(--red);
    font-weight: 400;
    font-size: 140px;
    padding-left: 190px;
    transition: .4s;
    margin-bottom: 32px;
}

.Hero .Title p {
    font-family: var(--text-font-family);
    color: var(--black);
    font-weight: 400;
    font-size: 24px;
    width: 75%;
    transition: .4s;

}

.Hero .Title p span {
    font-family: var(--text-font-family);
    color: var(--red);
    font-weight: 500;
}

.Hero .Title .Buttons {
    display: flex;
    margin-top: 50px;
    transition: .4s;
}

.Hero .Title .Buttons button:nth-child(1) {
    font-family: var(--text-font-family);
    color: #fff;
    background-color: var(--red);
    font-size: 22px;
    font-weight: 700;
    width: 424px;
    height: 54px;
    border-radius: 52px;
    border: none;
    cursor: pointer;
    margin-right: 32px;
}

.Hero .Title .Buttons button:nth-child(2) {
    font-family: var(--text-font-family);
    color: var(--red);
    background-color: transparent;
    font-size: 22px;
    font-weight: 700;
    width: 424px;
    height: 54px;
    border-radius: 52px;
    border: 4px solid var(--red);
    cursor: pointer;
}


@media(max-width:1470px) {
    .course-deatils {
        margin-top: 32px;
    }

    .Hero .Title h1 {
        font-size: 60px;
    }

    .Hero .Title h2 {
        font-size: 80px;
    }

    .Hero .Title p {
        font-size: 18px;
    }

    .Hero .Title .Buttons {
        flex-direction: column-reverse;
        margin-top: 28px;
    }

    .Hero .Title .Buttons button {
        margin-top: 20px;
    }
}

@media(max-width:992px) {
    .Hero .Contact-FolowingBox {
        width: 75px;
        height: 350px;
    }

    .course-deatils {
        margin-top: 12px;
    }

    .Hero .Contact-FolowingBox .Icons img {
        width: 25px;
    }

    .Hero .Contact-FolowingBox p h4 {
        right: -23px;
        font-size: 14px;
    }

    .Hero {
        padding: 0px 90px;
    }

    .Hero .Title h1 {
        font-size: 40px;
    }

    .Hero .Title h1 .span1 {
        width: 150px;
        height: 44.16px;
        right: -10px;
        bottom: -15px;
    }

    .Hero .Title h1 .span2 {
        width: 90px;
        height: 28.16px;
        right: -10px;
        bottom: -8px;
    }

    .Hero .Title h2 {
        font-size: 80px;
    }

    .Hero .Title p {
        font-size: 18px;
        width: 80%;
    }

    .Hero .Title .Buttons {
        flex-direction: column;
        margin-top: 28px;

    }

    .Hero .Title .Buttons button {
        margin-top: 20px;

    }

    .Hero .Title .Buttons button:nth-child(2),
    .Hero .Title .Buttons button:nth-child(1) {
        font-size: 20px;
        width: 324px;
        height: 54px;
        border: 2px solid var(--red);
        margin-right: 0px;
    }

    .course-deatils span {
        font-family: var(--text-font-family);
        font-size: 16px;
        padding: 0px 12px;
        font-weight: 600;
    }
}

@media(max-width:676px) {
    .Hero {
        padding: 0px 30px;
        height: 60vh !important;
        min-height: 60vh !important;
    }

    .Hero .Title h1 {
        font-size: 70px;
        line-height: 70px;
        width: 400px;
    }

    .Hero .Title h2 {
        font-size: 72px;
        padding-left: 0px;
        margin-top: -5px;
        margin-bottom: 0;
       
    }

    .Hero .Title p {
        display: none;
    }

    .Hero .Title h1 .span1 {
        width: 80px;
        height: 44.16px;
        right: -5px;
        bottom: -32px;
        display: none;
    }

    .Hero .Title h1 .span2 {
        width: 48px;
        height: 28.16px;
        right: -5px;
        bottom: -20px;
        display: none;
    }

    .Hero .Title .Buttons {
        margin-top: 16px;
        flex-direction: column-reverse;
    }

    .Hero .Title .Buttons button:nth-child(2),
    .Hero .Title .Buttons button:nth-child(1) {
        font-size: 16px;
        width: 258px;
        height: 40px;
        margin-top: 12px;
    }

    .Hero .Contact-FolowingBox {
        width: 50px;
        height: 224px;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        top: 25%;
    }

    .Hero .Contact-FolowingBox .Icons {
        width: 70%;
    }

    .Hero .Contact-FolowingBox .Icons img {
        width: 18px;
    }

    .Hero .Contact-FolowingBox p {
        width: 30%;
    }

    .Hero .Contact-FolowingBox p h4 {
        right: -23px;
        font-size: 12px;
    }

    .course-deatils {
        margin-top: 14px;
    }

    .course-deatils span {
        font-size: 12px;
        padding: 4px 12px;
        font-weight: 600;
    }

    .inroll-deatils button {
        padding: 10px 0;
        font-size: 16px;
        width: 250px;
    }

    .inroll-deatils button {
        margin-top: 32px;
    }
}

@media(max-width:460px) {
    .Hero .Title h1 {
        font-size: 60px;
        line-height: 70px;
        width: 390px;
    }

    .Hero .Title h2 {
        font-size: 62px;
    }

    .Hero .Title .Buttons button:nth-child(2),
    .Hero .Title .Buttons button:nth-child(1) {
        font-size: 12px;
        width: 208px;
        height: 30px;
        margin-top: 12px;
    }
}
@media(max-width:400px) {
    .Hero .Title h1 {
        font-size: 50px;
        line-height: 50px;
        width: 330px;
    }

    .Hero .Title h2 {
        font-size: 52px;
    }
}
@media(max-width:350px) {
    .Hero .Title h1 {
        font-size: 40px;
        line-height: 50px;
        width: 200px;
    }
    .Hero .Title h2 {
        font-size: 42px;
        width: 300px;
    }
}