@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');


.certificate-search {
    padding: 40px 20px;
    background-color: #ffffff;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.certificate-search h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: left;
    color: #000000;
}

.search-bar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.search-bar img
{
    width: 44px;
    height: 44px;
}
.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    z-index: 2;
}

.search-bar input {
    width: 40vw;
    height: 48px;
    padding-left: 66px;
    /* مساحة للأيقونة داخل الحقل */
    border-radius: 32px;
    border: 2px solid rgba(220, 220, 220, 1);
    font-size: 16px;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(13, 10, 44, 0.06);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input::placeholder {
    color: #999;
}

.search-bar input:hover {
    border-color: rgba(180, 180, 180, 1);
    box-shadow: 0px 6px 14px rgba(13, 10, 44, 0.1);
}

.search-button {
    width: 48px;
    height: 48px;
    margin-left: -52px;
    background-color: black;
    border: none;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
}

.search-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.search-button:hover {
    background-color: #222;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.certificate-preview {
    margin-top: 30px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.not-found {
    margin-top: 15px;
    color: red;
}

.certificate-image-wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.certificate-image {
    width: 100%;
    /* max-width: 600px; */
    height: auto;
    border: none;
    border-radius: 8px;
    object-fit: contain;
}

.PhotoforCertificate{
    padding: 20px;
    box-shadow: 0px 0px 15px .4px rgb(228, 228, 228);
    margin: 50px auto;
    border-radius: 3px;
}
.PhotoforCertificate .centerimages
{
    width: 1200px;
    margin: 0 auto;
    height: 848px;
    background-image: url('/EmptyCertificate.png');
    background-position: center;
    background-size: cover;
    position: relative;  
}
.PhotoforCertificate .centerimages .titlename
{
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Niconne", cursive;
    font-weight: 600;
    font-size: 40px;
    color: #02316a;
}

.PhotoforCertificate .centerimages .titlelevel
{
    position: absolute;
    top: 520px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 36px;
    color: #02316a;
}
.PhotoforCertificate .centerimages .titleDate
{
    position: absolute;
    bottom: 90px;
    left: 80px;
    font-weight: 500;
    color: rgb(148, 148, 148);
    font-size: 20px;
}
.PhotoforCertificate .centerimages .titleno
{
    position: absolute;
    bottom: 60px;
    left: 80px;
    font-weight: 500;
    color: rgb(148, 148, 148);
    font-size: 20px;
}
.PhotoforCertificate .centerimages .titleQR
{
    position: absolute;
    bottom: 55px;
    right: 80px;
}

@media(max-width:1400px)
{
    .PhotoforCertificate .centerimages
    {
        width: 800px;
        height: 566px;
    }
    .PhotoforCertificate .centerimages .titlename
    {
        top: 250px;
        font-size: 30px;
    }
    .PhotoforCertificate .centerimages .titlelevel
    {
        top: 350px;
        font-size: 24px;
    }
    .PhotoforCertificate .centerimages .titleQR
    {
        position: absolute;
        bottom: 30px;
        right: 50px;
    }
    .PhotoforCertificate .centerimages .titleDate
    {

        bottom: 65px;
        left: 60px;
        font-size: 16px;
    }
    .PhotoforCertificate .centerimages .titleno
    {
        bottom: 40px;
        left: 60px;
        font-size: 16px;
    }
}
@media(max-width:960px)
{
    .PhotoforCertificate .centerimages
    {
        width: 500px;
        height: 354px;
    }
    .PhotoforCertificate .centerimages .titlename
    {
        top: 155px;
        font-size: 18px;
    }
    .PhotoforCertificate .centerimages .titlelevel
    {
        top: 210px;
        font-size: 16px;
    }
    .PhotoforCertificate .centerimages .titleQR
    {
        position: absolute;
        bottom: 10px;
        right: 25px;
    }
    .PhotoforCertificate .centerimages .titleDate
    {

        bottom: 35px;
        left: 40px;
        font-size: 12px;
    }
    .PhotoforCertificate .centerimages .titleno
    {
        bottom: 16px;
        left: 40px;
        font-size: 12px;
    }
}
@media(max-width:650px)
{
    .PhotoforCertificate .centerimages
    {
        width: 300px;
        height: 212px;
    }
    .PhotoforCertificate .centerimages .titlename
    {
        top: 95px;
        font-size: 10px;
    }
    .PhotoforCertificate .centerimages .titlelevel
    {
        top: 130px;
        font-size: 10px;
    }
    .PhotoforCertificate .centerimages .titleQR
    {
        position: absolute;
        bottom: -5px;
        right: 15px;
    }
    .PhotoforCertificate .centerimages .titleDate
    {

        bottom: 15px;
        left: 27px;
        font-size: 8px;
    }
    .PhotoforCertificate .centerimages .titleno
    {
        bottom: 2px;
        left: 27px;
        font-size: 8px;
    }
    .PhotoforCertificate{
    padding: 5px;
    box-shadow: 0px 0px 15px .4px rgb(228, 228, 228);
    margin: 50px auto;
    border-radius: 3px;
    }
}
@media(max-width:600px)
{
    .certificate-search {
    padding: 0px 20px;
    }
    .search-bar input {
    width: 80vw;
    }
    .certificate-image {
    width: 100%;
    }
}