.Hero.contactHeroc
{
    min-height: 900px !important;
}
.contactHeroc .Title h1:nth-child(1) 
{
    
}
.contactHeroc .Title h1:nth-child(2) 
{
    margin-top: 20px;
}
.contactHeroc .contacthhero
{
    transform: translate(300px , -110px);
}


@media(max-width : 1535px)
{
   .contactHeroc .Title h1:nth-child(1) 
    {
        font-size: 70px;
    }
    .contactHeroc .Title h1:nth-child(2) 
    {
        margin-top: 20px;
    }
    .contactHeroc .Title .contacthhero h2
    {
        font-size: 90px;
    }
    .contactHeroc .contacthhero
    {
        transform: translate(160px , -100px);
    }
}
@media(max-width : 1111px)
{
   .contactHeroc .Title h1:nth-child(1) 
    {
        font-size: 60px;
        line-height: 20px;
    }
    .contactHeroc .Title h1:nth-child(2) 
    {
        margin-top: 20px;
    }
    .contactHeroc .Title .contacthhero h2
    {
        font-size: 80px;
    }
    .contactHeroc .contacthhero
    {
        transform: translate(105px , -80px);
    }
}

@media(max-width : 905px)
{
   .contactHeroc .Title h1:nth-child(1) 
    {
        font-size: 50px;
        line-height: 10px;
    }
    .contactHeroc .Title .contacthhero h2
    {
        font-size: 60px;
        line-height: 50px;
    }
    .contactHeroc .contacthhero
    {
        transform: translate(65px , -50px);
    }
}

@media(max-width : 750px)
{
    .Hero.contactHeroc
    {
        min-height: 700px !important;
    }
   .contactHeroc .Title h1:nth-child(1) 
    {
        font-size: 50px;
        line-height: 0px;
        margin-bottom: 0px;
    }
    .contactHeroc .Title .contacthhero h2
    {
        font-size: 60px;
        line-height: 50px;
        padding: 0;
        margin-top: 40px;
    }
    .contactHeroc .contacthhero
    {
        transform: translate(0px , 0px);
    }
    .contactHeroc .span1 , .contactHeroc .span2
    {
        display: none;
    }
}

@media(max-width : 450px)
{
   .contactHeroc .Title h1:nth-child(1) 
    {
        font-size: 40px;
        line-height: 0px;
        margin-bottom: 0px;
    }
    .contactHeroc .Title .contacthhero h2
    {
        font-size: 45px;
        line-height: 50px;
        padding: 0;
        margin-top: 40px;
    }
        .contactHeroc .Title .contacthhero h2:nth-child(2)
        {
            margin-top: 5px;
        }
    .contactHeroc .contacthhero
    {
        transform: translate(0px , 0px);
    }
    .contactHeroc .span1 , .contactHeroc .span2
    {
        display: none;
    }
}
